<div ng-init="init()">
  <pre style="position: absolute; top: 0; right: 0; padding: 10px;">{{
    query | json
  }}</pre>
  <p>Tri</p>
  <select
    ng-options="option.name for option in options"
    ng-model="query.options"
  >
  </select>
  <p>Categories</p>
  <form>
    <div ng-repeat="category in categories track by $index">
      <input
        type="radio"
        name="occurrences"
        ng-value="category"
        ng-model="query.categories"
      />
      <label>{{ category.name }}</label>
    </div>
  </form>
  <p>Status</p>
  <div>
    <div ng-repeat="stat in status track by $index">
      <input
        type="radio"
        name="occurrences"
        ng-value="stat"
        ng-model="query.status"
      />
      <label>{{ stat.name }}</label>
    </div>
  </div>
  <div></div>
  <gallery-list query="query" filter="'inProgress'"></gallery-list>
  <gallery-list query="query" filter="'published'"></gallery-list>
  <gallery-list query="query" filter="'archived'"></gallery-list>
</div>
